@model Financa.Models.Investimento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Investimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CorretoraId" class="control-label"></label>
                <select asp-for="CorretoraId" class="form-control" asp-items="ViewBag.CorretoraId"></select>
                <span asp-validation-for="CorretoraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                <span asp-validation-for="EmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoCompra" class="control-label"></label>
                <input asp-for="PrecoCompra" class="form-control" />
                <span asp-validation-for="PrecoCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVenda" class="control-label"></label>
                <input asp-for="PrecoVenda" class="form-control" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corretagem" class="control-label"></label>
                <input asp-for="Corretagem" class="form-control" />
                <span asp-validation-for="Corretagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVenda" class="control-label"></label>
                <input asp-for="DataVenda" class="form-control" />
                <span asp-validation-for="DataVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-validation/dist/methods_pt.js"></script>
}
